*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.4;
}

.product{
    border: solid 6px;
    border-color: black;
    width: 825px;
    margin: 50px auto;
    grid-template-columns: 250px 1fr;
}

.product-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #eeeeee;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    position: relative;
    grid-column: 1 / -1;
}
.sale{ 
    color: #fff;
    background-color: rgb(190, 25, 25);
    letter-spacing: 2px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 35px;
    left: 290px;
}
.price{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-row: 2/3 ;
    grid-column: -2 /-1;
    justify-items: center;
align-items: end;

/* link styling*/



a:visited{
    color: black;
}

}
a:link{
 /*color: black;*/
 text-decoration: underline;
}

a:active{
    color: rgb(25, 131, 173);
}
a:hover{
    text-decoration: none;
}

.more-info:link{
    color: #040404;
    margin-bottom: 20px;
    display: inline-block;
}

.details-list{
    list-style: square;
    margin-left: 20px;

}
.details-list{
    margin-bottom: 10px;

}


.product-details{
    text-transform: uppercase;
    font-size: 16px; 
    margin-bottom: 15px;
    padding-top: 20px;

}
    
/* button design*/

.button{
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: solid 6px;
     grid-column: 1 / -1;
}

.button:hover{
color:#000;
background-color: #fff;
}

.head-place{
    margin-bottom: 20px;
    border: solid;
    
}

.home{
    text-decoration: underline;
    color: black;
}

.home:hover{
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.makert:hover{
    color:#000 ;
    font-weight: bold;
    text-decoration: underline;
}
.color{
    background-color: #000;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.bblue{
    background-color: blue;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.rred{  background-color: red;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.ggreen{
     background-color: green;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.bbrown{
     background-color: brown;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.yyellow{
     background-color:yellow;
    height: 22px;
    width: 22px;
    display: inline-block;
}
.color-rows{
    padding-top: 20px;
    grid-column: 2/ 3;

}
.product-quality{
    justify-content: center;
}

.shipping-text{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    display: grid;

}

article{
    display: grid;
}
.dress{
    display: grid;
    grid-row: 2/3 ;
    grid-column: -2 /-1;
 justify-items: end;
 align-items: center;
}