body{
    font-family: sans-serif;
    line-height: 1.4;
}

.product{
    border: solid 6px;
    border-color: black;
}

.product-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #f7f7f7;
}
.price{
    font-size: 24px;
.shipping{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
}
/* link styling*/

a:visited{
    color: black;
}
}
a:link{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
}
a:hover{
    text-decoration: none;
}
.details-list{
    list-style: square;

}
.details-title{
    text-transform: uppercase;
    font-size: 16px;
}
    
/* button design*/

.button{
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover{
color:#000;
background-color: #fff;
}

.head-place{
    margin-bottom: 20px;
    border: solid;
    
}

.home{
    text-decoration: underline;
    color: black;
}

.home:hover{
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.makert:hover{
    color:#000 ;
    font-weight: bold;
    text-decoration: underline;
}
