* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: rgb(8, 8, 8);
  padding: 15px 30px;
}

.logo {
    height: 40px;
    width: auto;
    display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}
.top-bar2{
    display: flex;
    align-items: center;
    background-color: wheat;
    color:rgb(9, 9, 9) ;
    padding: 15px  30px;
    justify-content: center;
    height:500%;
}
.studio-name{
    font-style: italic;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}
.mainimg{
  background-size: cover;
  background-position: center;
  height: 1000px;
  display: flex;
  width: 1000px;
  justify-content: center;
  color: white;
  text-align: center;
}