*{
 margin: 0;
padding: 0;
}


body{
    color: #010101;
    border-top: 10px solid #1098ad;
    position: relative;
   
}
h1,
h2,
h3,
 h4, 
 p,
 li 
{font-family: serif;
color: #0a0a0a;}

.container{
    width: auto;
    margin-left: 90px;
    margin-right: 90px;
   /* margin: 0 auto;*/
     position: relative;
}

h1{font-size: 20px;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: #1098ad;
}


/*h2::first-letter{
font-size: 90px;
font-style: italic;
p::first-line {

    color: chartreuse;
    h3 + p:: { 
    color: red;}*/

/* This is to show you the before: and after: psuedo element*/
 h2::after{
    content:"TOP";
    font-size: 16px;
    background-color: rgb(222, 241, 3);
    font-style: italic;
    color: #000;
    padding: 5px 5px;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 150px ;

 }

h2 {
    font-size: 40px;
     color: #1098ad;
     margin-bottom: 30px;
     position: relative;
}

h3{
    font-size: 30px;
   color: #1098ad;
   margin-bottom: 20px;
   margin-top: 40px;
}
    
h4{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}
li{
    font-size: 20px;
    margin-bottom: 10px;

}
 ul, ol{
    margin-left: 50px;
    margin-bottom: 20px;
 }

#author 
{font-style: italic;
font-size: 18px;
}

.related-author{
    font-size: 18px;
    font-weight: none;
    font-style: italic;
}
.main-header{
    padding: 20px 40px;
    background-color: #d0cccc;
    margin-bottom: 30px;
   
}
    
.post-header{
    /*margin-bottom: 50px;*/
    padding-left: none;
}
.post-image{
  /* margin-top: 40px;*/
   margin-left:none;
  /* clear: both;*/
   padding-top: 40px;
}
   
aside{
    background-color: #c7c6c6;
    border: 5px solid #1098ad;
    width: 500px;
    padding: 50px 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
/*body{
    background-color: aqua;
}  
/* This code here is written to show a pseudo class for ordered list and unordered list. first child and the last child. */
li {
font-size: 20px;
margin-bottom: 10px;
/*display: inline;*/
}
.first-li{
    font-weight: bold;
}
  
.first-li{
    font-weight: bold;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
    margin-bottom: 0;
}
li:nth-child(even){
    color: rgb(3, 30, 36);
}
/* styling hyper links */
a:link{
    color: #1098ad;
    text-decoration: none;

}
 a:hover{
    color: rgb(217, 27, 27);
    font-weight: bold;
    text-decoration: underline orangered;
 }
 a:active {
    background-color: #161616;
    font-style: italic;
 }
/* this styling for this hyper links are always taken out in this order LVHA*/
 /* Resolving conflict*/

footer p{
    color: rgb(9, 9, 9);
}
/* this is for inline/block  inline-block   level element box example*/
nav{
 font: 18px;
 text-align: center;
 
}
nav a:link{ 
   padding: 10px;  
    /*margin: 10px;*/
    display: inline-block;

}
nav a:link:last-child{
    margin-right: 0px;
}
button{
    font-size: 22px;
    cursor: pointer;
    padding: 6px;
    position: absolute;
    /*top: 50px;
    right: 0px;*/
    bottom: 50px;
    right: 50px;
    background-color: #000;
    color: #fff;
}

 /* using floats*/
.author-image{
   /* float: left;*/
    margin-top: 0px;
    margin-left: 0px;
}

.author{
    padding-left: 0px;
}

/*flex box layout
/
.author{
    margin-left: 30px;
}
.author-box{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.related-post{
    display: flex;
    align-items: center;
}
.row{
    display: flex;
}

/*.grid-list{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr ;
    background-color: #ddd;
    border: solid 5px;
    border-radius: 10px;
}
.grid-li{
    margin: 25px;
    padding: 10px;
}*/

.main1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 3;
}

.container{
    display: grid;
    grid-template-columns: 1fr 300px;
    row-gap: 60px;

}


footer{
background-color: rgb(212, 218, 218);
align-self: end;
justify-self: center;
grid-column: 1/3;
}




