*{
 margin: 0;
padding: 0;
}


body{
    color: #010101;
    border-top: 10px solid #1098ad;
   
}
h1,
h2,
h3,
 h4, 
 p,
 li 
{font-family: serif;
color: #0a0a0a;}

h1{font-size: 20px;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: #1098ad;}

h2 {
    font-size: 40px;
     color: #1098ad;
     margin-bottom: 30px;
}

h3{
    font-size: 30px;
   color: #1098ad;
   margin-bottom: 20px;
   margin-top: 40px;
}
    
h4{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}
li{
    font-size: 20px;
    margin-bottom: 10px;

}
 ul, ol{
    margin-left: 50px;
    margin-bottom: 20px;
 }
#author {font-style: italic;
font-size: 18px;}

.related-author{
    font-size: 18px;
    font-weight: bold;
}
.main-header{
    padding: 20px 40px;
    background-color: #eeebeb;
    margin-bottom: 60px;
}
.post-header{
    margin-bottom: 50px;
}
aside{
    background-color: #f7f7f7;
    border: 5px solid #1098ad;
   /* border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    border-left: 5px solid #1098ad;
    border-right: 5px solid #1098ad;*/
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    padding: 50px 0;
    margin-bottom: 30px;

}
/*body{
    background-color: aqua;
}  */
/* This code here is written to show a pseudo class for ordered list and unordered list. first child and the last child. */
.first-li{
    font-weight: bold;
}
/*  
.first-li{
    font-weight: bold;
}*/
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
    margin-bottom: 0;
}
li:nth-child(even){
    color: rgb(3, 30, 36);
}
/* styling hyper links */
a:link{
    color: #1098ad;
    text-decoration: none;
}

 a:hover{
    color: rgb(217, 27, 27);
    font-weight: bold;
    text-decoration: underline orangered;
 }
 a:active {
    background-color: #161616;
    font-style: italic;
 }
/* this styling for this hyper links are always taken out in this order LVHA*/
 /* Resolving conflict*/

footer p{
    color: green;
}
nav{
 font: size 18px;
}
