/*
---01 Typogrphy system----

font weight:
default:400



line height:
default:1

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 you could use typescale.com 
 
 --- Colors
 primary:#e67e22  
 use tints and shades.com

 tints:#fdf2e9
 shades:
 Accent:
 Greys:#555 #333;
 

 images: Unsplash.com, Ui faces

 Shadows:


 border raduis--

 WHite space---
 SPACING SYSTEM (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 20px;*/
  /* 10px/16px = 0.625 = 62.5%*/
  /* Percentage of users browser font size setting*/
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 4.2rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem; /* 48px*/
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
  background-color: #e67e22;
  font-size: 2rem;
  color: #ffff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  display: inline-block;
}
